<% include ./views/partials/header %>

<div class="ui main text container segment top">
	<h1>James Roberts</h1>
	<h1 class="font contact">Landscape Photography</h1>
</div>

<div class="ui text container segment contact info">
	
	<div class="ui segment">
		<h2>jaroberts0813@gmail.com</h2>
		<h3>(443)716-8436</h3>
		<img class="ui centered rounded image bot" src ="/images/james.jpg">
		<p>
			Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. 
			It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. 
			It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.
		</p>
		<p>
			Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. 
			It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. 
			It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.
		</p>
</div>
	<div class="ui segment">
			<img class="ui  left floated image" src="/images/goat.jpg">
			<p><strong>I also do Production Design!</strong> Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix.</p>
			<p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. <a href="https://jaroberts0813.wixsite.com/website">Goathead productions</a></p>
		  </div>
</div>



<% include ./views/partials/footer %>