<% include ../views/partials/header %>

<div class="ui main text container segment top">
	<h3 class="font photo">16mm Filmstock Gallery</h3>
</div>

<div class="ui main container rounded segment">
	<div class="ui three column relaxed grid indx">
		<div class="column">
			<a href="/images/bird.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bird1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/boat.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/boat1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/brand.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/brand1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/bridgebrook.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bridgebrook1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/building.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/building1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/cafe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/cafe1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/carblju.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/carblju1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/cats.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/cats1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/chair.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/chair1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/field.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/field1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/house.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/house1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/kanoe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/kanoe1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/log.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/log1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/reflect.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/reflect1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/river.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/river1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/roadtwist.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/roadtwist1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/rock.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/rock1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/strip.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/strip1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/sunset.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/sunset1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/water.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/water1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/treeopen.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/treeopen1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/trees.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/trees1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/treesneed.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/treesneed1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/trisback.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/trisback1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/truck.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/truck1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/turtle.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/turtle1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/ups.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/ups1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/tree.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/tree1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/bridge.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bridge1.jpg"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/store.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/store1.jpg"/>
			</a>
		</div>
	</div>
</div>
  
  <% include ../views/partials/footer %>