<% include ./views/partials/header %>

<div class="ui main text container segment top">
	<h3 class="font photo">16mm Filmstock Gallery</h3>
</div>

<div class="ui main container rounded segment">
	<div class="ui three column relaxed grid indx">
		<div class="column">
			<a href="/images/bird.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bird.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/boat.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/boat.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/brand.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/brand.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/bridgebrook.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bridgebrook.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/building.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/building.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/cafe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/cafe.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/carblju.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/carblju.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/cats.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/cats.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/chair.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/chair.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/field.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/field.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/house.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/house.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/kanoe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/kanoe.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/log.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/log.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/reflect.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/reflect.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/river.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/river.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/roadtwist.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/roadtwist.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/rock.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/rock.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/strip.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/strip.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/sunset.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/sunset.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/water.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/water.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/treeopen.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/treeopen.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/trees.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/trees.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/treesneed.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/treesneed.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/trisback.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/trisback.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/truck.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/truck.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/turtle.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/turtle.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/ups.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/ups.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/tree.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/tree.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/bridge.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/bridge.png"/>
			</a>
		</div>
		<div class="column">
			<a href="/images/store.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="/images/store.png"/>
			</a>
		</div>
	</div>
</div>
  
  <% include ./views/partials/footer %>