<% include /mnt/c/Users/Greg/Desktop/Greg/james_roberts/views/partials/header %>

<div class="ui main text container segment top">
	<h3 class="font photo">16mm Filmstock Gallery</h3>
</div>

<div class="ui main container rounded segment">
	<div class="ui three column relaxed grid indx">
		<div class="column">
			<a href="http://localhost:3000/images/bird.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/bird.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/boat.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/boat.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/brand.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/brand.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/bridgebrook.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/bridgebrook.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/building.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/building.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/cafe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/cafe.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/carblju.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/carblju.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/cats.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/cats.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/chair.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/chair.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/field.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/field.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/house.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/house.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/kanoe.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/kanoe.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/log.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/log.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/reflect.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/reflect.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/river.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/river.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/roadtwist.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/roadtwist.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/rock.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/rock.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/strip.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/strip.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/sunset.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/sunset.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/water.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/water.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/treeopen.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/treeopen.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/trees.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/trees.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/treesneed.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/treesneed.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/trisback.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/trisback.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/truck.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/truck.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/turtle.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/turtle.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/ups.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/ups.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/tree.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/tree.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/bridge.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/bridge.png"/>
			</a>
		</div>
		<div class="column">
			<a href="http://localhost:3000/images/store.png" data-lightbox="image-1">
				<img class="ui centered rounded image" src="http://localhost:3000/images/store.png"/>
			</a>
		</div>
	</div>
</div>
  
  <% include /mnt/c/Users/Greg/Desktop/Greg/james_roberts/views/partials/footer %>